name: Go Pipeline

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: './app/go.mod'
        cache-dependency-path: './app/go.sum'
        cache: true

    - name: Install dependencies
      run: go mod download

    - name: Run Linter
      run: go vet ./...

    - name: Build
      run: go build -v ./...